*{
    font-family: sans-serif;
}
body {
  margin: 0ch;
  background-color: #262424;
}
li {
  list-style: none;
  line-height: 33px;
}
#navbar {
  position: fixed;
  margin-top: -20px;
  padding-top: 30px;
  background-color: #262424;
  width: 100%;
  border: 1px solid black;
}
#topbar {
  display: flex;
}
#topbar > div:nth-child(2) {
  margin-left: 20%;
}
#topbar > div:nth-child(3) {
  margin-left: 20%;
}
#enterQuery {
  width: 500px;
  height: 40px;
}
#btn {
  height: 43px;
}
#logo {
  width: 120px;
  border-radius: 15px;
  margin-left: 40px;
}
#user {
  width: 40px;
  border-radius: 20px;
}
#fevorit > ul {
  margin-left: 16%;
  display: flex;
  gap: 18px;
}
#fevorit li {
  display: flex;
  border: 1px solid #000;
  color: white;
  border-radius: 10px;
  padding: 2px 15px;
  cursor: pointer;
}
#sidebar {
  width: 200px;
  position: fixed;
  margin-top: 100px;
  padding: 30px;
  height: 500px;
  overflow: hidden;
  background-color: #262424;
  color: white;
  border-right: 1px solid #000;
}
#sidebar li {
  cursor: pointer;
}
#sidebar:hover {
  overflow: scroll;
}
#sidebar > div {
  border-bottom: 1px solid #000;
}
#container {
  margin-left: 260px;
  padding: 20px;
  background-color: #262424;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding-top: 150px;
}
#container h4{ flex-wrap:wrap;}
#container > div {
  /* background-color: white; */
  color: white;
  padding: 8px;
}
#container > div > img {
  width: 280px;
}
#home > a {
  text-decoration: none;
  color: white;
}
#play_video {
  width: 1000px;
  height: 500px;
}
/* tab in portate mode  */
@media screen and (max-width:1220px) {
    #enterQuery {
        width: 400px;
        height: 40px;
      }
    #fevorit > ul {
        margin-left: 17%;
        gap: 14px;
      }
    #sidebar {
      margin-left: -2%;
        max-width: 220px;
        margin-top: 90px;
      }
    #container{
      margin-left: 20%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #play_video {
      width: 850px;
      height: 500px;
    }
}

@media screen and (max-width:980px){
    #enterQuery {
        width: 220px;
      }
    #fevorit > ul {
        margin-left: 23%;
      }
    #sidebar {
        margin-left: -5%;
        max-width: 170px;
        height: auto;
      }
    #container{
        margin-left: 22%;
        padding: 150px 0px 0px 0px;
        grid-template-columns: 1fr 1fr;
    }
    #play_video {
      width: 520px;
      height: 300px;
    }
}

@media screen and (max-width:767px) {
    #enterQuery {
        width: 190px;
      }
    #fevorit > ul {
        margin-left: 25%;
      }
    #sidebar {
      margin-left: -5%;
        width: 110px;
        height: 220px;
      }
    #container{
      margin-left: 21%;
        padding: 130px 0px 0px 10px;
        grid-template-columns: 1fr 1fr;
    }
    #play_video {
      width: 550px;
      height: 230px;
    }
}

@media screen and (max-width:460px) {
    #logo {
      display: none;
      }
    #enterQuery {
      
        width: 120px;
      }
    #fevorit > ul {
        margin-left: 0%;
      }
    #sidebar {
      display: none;
        width: 130px;
        height: auto;
      }
    #container{
      margin: auto 7% 0% 7% ;
      padding-top: 180px;
        grid-template-columns: 1fr;
    }
    #play_video {
      width: 300px;
      height: 230px;
    }
}