


*,::before,::after{margin: 0; box-sizing: border-box;}
a{text-decoration: none;}
li{list-style: none; padding: 0;}
button{padding: 0;cursor: pointer;}
:disabled{cursor: not-allowed;}
img{vertical-align: bottom;}
label{display: inline-block;}

@font-face {
    font-family: ft;
    src: url(../fonts/Proxima-Nova-Thin.woff2);
    font-display: swap;
}
@font-face {
    font-family: fl;
    src: url(../fonts/proximanova-light.woff2);
    font-display: swap;
}
@font-face {
    font-family: fb;
    src: url(../fonts/proximanova-bold.woff2);
    font-display: swap;
}
@font-face {
    font-family: fr;
    src: url(../fonts/proximanova-regular.woff2);
    font-display: swap;
}

h1, h2, h3, h4, b, strong, th{font-family: fb, sans-serif;}

body{font-family: ft , sans-serif;}

.container{max-width: 1200px; margin: auto; padding: 0 15px;}

.row{display: flex; flex-flow: row wrap; margin: 0 -15px;}
.row[class^="col-"]{flex: 1 0 auto; padding: 0 15px;}

.row .col-1{flex-basis: 8.33%; max-height: 8.33%;}
.row .col-2{flex-basis: 16.66%; max-height: 16.66%;}
.row .col-3{flex-basis: 25%; max-height: 25%;}
.row .col-4{flex-basis: 33.33%; max-height: 33.33%;}
.row .col-5{flex-basis: 41.66%; max-height: 41.66%;}
.row .col-6{flex-basis: 50%; max-height: 50%;}
.row .col-7{flex-basis: 58.33%; max-height: 58.33%;}
.row .col-8{flex-basis: 66.66%; max-height: 66.66%;}
.row .col-9{flex-basis: 75%; max-height: 75%;}
.row .col-10{flex-basis: 83.33%; max-height: 83.33%;}
.row .col-11{flex-basis: 91.66%; max-height: 91.66%;}
.row .col-12{flex-basis: 100%; max-height: 100%;}

.flex{display: flex;}
.just-cont-right{justify-content: right;}
.align-center{align-items: center;}

header{background-color: #000; color: #fff;}
header h1{ font-size: 30px;}
header h1 a{color: inherit; line-height: 80px;}
header nav{margin-left:-20px ;}
header nav ul{display: flex;}
header nav ul li{ margin: 0 5px;}
header nav ul li a{ color: inherit; line-height: 80px; padding: 0 15px;}
.btn{width: 90px; height: 35px ; border: 2px solid; color: #ca3c3c; border-radius: 10px; background: transparent; font: 16px, fr, sans-serif ;}

.wrap-2{ background-color: #666; color: #fff;}
.video{ display: flex; align-items: center; padding: 200px 0;}
.video button{border: none; background-color: transparent; color: #fff; font-size: 150px ; margin-right: 40px;}
.video p.lg{font-size: 60px;}
.video a{color: #ca3c3c;}

.wrap-3{background-color: #ca3c3c; color: #fff; padding: 20px 0;}
h2{ font-size: 72px; line-height: 60px; border-bottom: 10px solid;}
.wrap-3 h2{margin-top: 25px;}
.feature{ display: flex; align-items: center; margin: 30px 0;}
.feature .circle{ font-size: 36px; min-width: 100px; aspect-ratio: 1/1; border: 2px solid; color: #fff; border-radius: 50%; text-align: center; line-height: 96px; margin-right: 30px;}
.feature h3{ font-size: 16px; line-height: 30px;}
.feature p{ font-size: 14px; line-height: 30px;}

.wrap-4{ background-color: #fff; color: #ca3c3c; font-size: 36px; line-height: 132px;}

.wrap-5{background: #ebebeb; color: #363636; padding: 100px 0;}
.btn.active{  background: #ca3c3c; color: #fff; border-color: #ca3c3c;}
.wrap-5 .btn{ margin: 30px 10px 60px 0;}
.work{ position: relative; margin-bottom: 30px; overflow: hidden; }
.over{ position: absolute; bottom: -100px; left: 0; right: 30px; background: #fff; text-align: center; padding: 20px 0; transition: 0.5s; }
.work img{ max-width: 100%; height: auto;}
.over h3{font-size: 18px; color: #ca3c3c; line-height: 40px;}
.over p{ font-size: 14px; color: #898989; line-height: 20px;}
.work:hover .over{ bottom: 0; }

.wrap-6{ background: #666; color: #fff; padding: 60px 0 30px;}
.slider{ text-align: center;}
.slider .slide{ display: none;}
.slider .slide.active{ display: block;}
.wrap-6 blockquote p{ font-size: 36px;}
.wrap-6 blockquote img{ border-radius: 50%;}
.wrap-6 blockquote strong{ display: block; margin: 15px 0;}
.pager{ margin-top: 15px;}
.pager ul{ display: flex; justify-content: center;}
.pager ul li{ margin: 5px;}
.pager ul li a{ display: block; width: 10px; height: 10px; border: 2px solid #fff; border-radius: 50%;}
.pager li a.active{ background: #fff;}

.wrap-7{ background: #fff; color: #363636; padding: 100px 0;}
.gap{ margin: 50px 0 50px 100px;}
.team{ position: relative; margin: 80px 0;}
.social{ position: absolute; top: 60px ; right: 60px;}
.social ul{ display: flex;}
.social ul li { margin-left: 10px;}
.social ul li a{ display: block; font-size: 24px; border-radius: 50%; background: #ca3c3c; color: #fff; width: 50px; line-height: 50px; text-align: center;}
.gap h3{ color: #ca3c3c; font-size: 18px;}
.gap small{ font-size: 14px; color: #898989;}
.gap p{ font-size: 14px; color: #363636; margin-top: 30px;}

.wrap-8{ background: #666; color: #fff; padding: 90px 0; text-align: center;}
.wrap-8 span.fa{ font-size: 72px;}
.wrap-8 p{ font-size: 72px;}
.wrap-8 b{ font-size: 18px;}

.wrap-9{ background: #fff; color: #363636; padding: 100px 0;}

.wrap-10{background: #ca3c3c; color: #fff; padding: 23px 0;}
.wrap-10 input{ background: transparent; width: 100%; border: none; height: 35px; font: 36px ft,sans-serif; color: #fff;}
.wrap-10 input::placeholder { color: #fff;}
.wrap-10 button.btn {background-color: #fff;}

.wrap-11{ background: #7f7f7f; padding: 28px 0 27px;}
.box{ line-height: 95px; background: #a6a6a6; text-align: center; color: #fff; margin: 5px 15px;}

.wrap-12{ background: #ebebeb; color: #363636; padding: 100px 0;}
.wrap-12 address{ margin: 24px 0;}
.soc a{ font-size: 14px; padding: 5px; color: #ca3c3c;}
.wrap-12 label{ width: 100%; border: 2px solid; padding: 17px; margin: 15px 0;}
.wrap-12 input{ border: none; background: transparent;}
.wrap-12 textarea{ border: none; background: transparent; resize: none; vertical-align: top;}
.wrap-12 button{ margin: 15px 0; width: 100%; height: 70px; background: #fff; border-radius: 5px; border: none; color: #ca3c3c; font: 16px pt, sans-serif;}
.wrap-12 button span.fa{ font-size: 36px; vertical-align: middle;}

.wrap-13{ padding: 50px 0; background: #252525; color: #fff; text-align: center;}